@import "../assets/style/variable";

.offer-detail-view {
  .form-container {
    @include dc-container();
    display: block;

    > div {
      margin-bottom: 20px;

      label {
        font-weight: $font-weight-bold;
      }
    }

    button {
      width: 100%;
    }
  }
}
